<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting type="action" id="screensaver.auramod.name" label="Choose Movie Widget to use" option="close" action="RunScript(screensaver.auramod, mode=choose)" />
        <setting type="action" id="screensaver.auramod.tvname" label="Choose TV Widget to use" option="close" action="RunScript(screensaver.auramod, mode=tvchoose)" />
    </category>
</settings>

