[submodule "repo/matrix/skin.auramod"]
	path = repo/matrix/skin.auramod
	url = https://github.com/SerpentDrago/skin.auramod
[submodule "repo/leia/skin.auramod"]
	path = repo/leia/skin.auramod
	url = https://github.com/SerpentDrago/skin.auramod