[submodule "repo/leia/skin.auramod"]
	path = repo/leia/skin.auramod
	url = https://github.com/SerpentDrago/skin.auramod
	branch = Leia
[submodule "repo/matrix/skin.auramod"]
	path = repo/matrix/skin.auramod
	url = https://github.com/SerpentDrago/skin.auramod
	branch = Matrix
[submodule "repo/nexus/skin.auramod"]
	path = repo/nexus/skin.auramod
	url = https://github.com/SerpentDrago/skin.auramod
	branch = Nexus
[submodule "repo/omega/skin.auramod"]
	path = repo/omega/skin.auramod
	url = https://github.com/SerpentDrago/skin.auramod
	branch = Omega
